<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <targets>
    <!-- Archivo de log principal -->
    <target xsi:type="File" name="logfile" 
            fileName="${basedir}/logs/app.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
            archiveFileName="${basedir}/logs/app.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Log de errores separado -->
    <target xsi:type="File" name="errorfile"
            fileName="${basedir}/logs/error.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="14" />

    <!-- Consola de Debug (solo en desarrollo) -->
    <target xsi:type="Debugger" name="debugger"
            layout="${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <!-- Todos los logs van al archivo principal -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <!-- Solo errores van al archivo de errores -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    <!-- Debug output -->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
